.banner-img {
    background-image: url("img/banner.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 500px;
}
figure {
    display: inline-block !important;
    margin: 20px; /* adjust as needed */
    border: 1px solid black;
    border-radius: 5px;
    padding: 1%;
}
figure img {
    vertical-align: top;
}
figure figcaption {
    text-align: center;
}
i {
    color: black
}
.news img {
	width: 12%;
	float: left;
	padding: 0.5em;
	margin: 0 1em 0.5em 0.5em;
}
.news h2 {
	margin: 0.5em 0.7em;
	font-size: 1.5em;
	color: #27318b;
}
.news hr {
	margin: 1em;
	border: 1px dotted #27318b;
	clear: both;
}
.news time {
	font-size: 90%;
	font-style: italic;
}
  